*.log
/phpunit.xml
/.web-server-pid
vendor/friendsofsymfony/user-bundle/
*.log
/phpunit.xml
/var/*
/var/cache
/var/cache/*
!var/cache/.gitkeep
/var/logs
/var/logs/*
!var/logs/.gitkeep
/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/.web-server-pid
vendor/friendsofsymfony/user-bundle/
/.idea
vendor/
vendor/*
/.idea/*
.idea
.idea/*