<!DOCTYPE html>
<html lang="en">
<head>
    {% include "admin/partial/header.html.twig" %}
</head>

<body class="no-skin">
{% include ":admin/partial/AnnonceAdmin:afficherAnnonceBodyAdmin.html.twig" %}
{% include "admin/partial/script.html.twig" %}
</body>
</html>
