{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div>
{{ form_end(form) }}
<center >    <button type="submit" id="_submit" name="_submit" class="btn btn-success btn-lg btn-block" >Register</button>    </div>
</center>